.blog-list-outer-wrapper {
    padding: 20px;
    background-color:white;
  }
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Media query for smaller screens, e.g., tablets */
@media (max-width: 1087px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query for even smaller screens, e.g., phones */
@media (max-width: 515px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
.root {
    height: 100%;
  }
.blog-list-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }

.blog-element {
  margin: 50px 10px;
  margin-bottom:10px;
  padding-right: 0%;
  
}

.blog-card {
  padding: 10px;
  padding-bottom: 15px;
  margin-bottom: 0%;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(75, 25, 25, 0.1);
  background-color:blanchedalmond;
}

.blog-card-link {
  text-align:center;
  align-items: center;
  justify-content: center;
  margin: 80px 100px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(75, 25, 25, 0.1);
  background-color: #1e1b15;
  text-wrap:stable;
  
}

.blog-card-link:hover {
  background-color: #2618ea;
}

.blog-title{
  padding-top: 0%;
  font-size: 1rem;
}

.summary{
  font-size: 1.3rem;
  text-align:center;
  padding-bottom: 0%;
}

.linker{
  text-align: center;
  padding-bottom: 0.2px;

}
@media (max-width: 768px) {
  .blog-element {
    margin: 30px 5px;
  }
}
@media (max-width: 768px) {
  .blog-card-link {
    margin: 60px 50px;
  }
}
@media (max-width: 768px) {
  .blog-title {
    font-size: 0.9rem;
  }
}


  