.blog-post {
    
    padding: 15px;
    background-color: white;
    height: 100%;
  }
  .root {
    height: 100%;
  }
  .post-date {
    text-align: center;
    font-size: 0.8rem;
    color: #888;
  }
  
  .post-content {
    margin-top: 15px;
	  text-align: left;
    padding-left: 15px;
    padding-right: 15px;
	  display: flex;
	  align-items: center;
    font-size: 3rem;
    color: black;
  }

  


  .omgpls {
    overflow-x: auto;
    text-align: center;
    color: black;
  }
  


  .blog-text-wrapper {
    
    padding: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.2rem;
    
  }

  /* Media query for smaller screens, e.g., tablets */


/* Media query for even smaller screens, e.g., phones */
@media (max-width: 515px) {
  .blog-text-wrapper {
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
  }
}

  .blogpost-title {
    text-align: center;
    color: black;
  }

  .katex .mfrac .frac-line {
    background-color: black; 
    height: 0.5px; 
}



  
  